<!--<div class="container">-->

<div class="container ">


    <div id='logo-div' class="div-title">
        <div class="row">
            <div class="animated flipInX col-md-4">

                <h1 class=" hipster-font">Ocean Wiedzy</h1>

                <h2 id="h2-info" class="hipster-font">Zadawaj pytania, kto pyta nie błądzi ;) </h2>


                <p>
                    <button onclick="moreInfo()" class=" ghost btn btn-default btn-warning">Dowiedz się więcej</button>
                    <button class="animated pulse infinite ghost btn btn-default btn-success">Załóż konto</button>
                </p>

            </div>


            <div class="col-md-8">
                <!--<img class="" src="images/title.png" style="width: 500px"></div>-->
                <img class="hvr-grow scaling" src="css/images/lightbulb.png" style="height: 200px">
                <img class="hvr-buzz floating" src="css/images/fish.png" style="height: 200px">
            </div>
            </div>

        </div>


    </div>

<div class="blank-white-div">
    <div class="animated zoomIn  white-block container" style="width: 1300px">
        <div class=" row">
            <div class="col-sm-8" style="background-color: #dddddd;border-radius: 15px">

                <!--Lista kategori-->
                <h3>
                    <span class="glyphicon glyphicon-list"></span>

                    <select class="select_category selectpicker btn btn-default btn-lg">
                        <option class="btn btn-success">Wszystkie pytania</option>
                        <optgroup label=" Kategorie">
                            <option ng-repeat="category in categories">{{category.name}}</option>
                        </optgroup>
                    </select>

                </h3>


                <!-- Lista najpopularniejszych tagow-->
                <!--to do-->
                <!--popup ze wszystkimi tagami-->
                <!--wyszukiwanie tagu przez wpisanie (pokazuje podpowiedzi)-->

                <button type="button" class="hvr-grow btn btn-default btn-info">Pokaż wszystkie tagi</button>

                <div class="btn-group">
                    <button type="button" class="hvr-grow btn btn-default btn-sm" ng-repeat="tag in tags ">
                        <a class="h5" ng-href="to do">#{{ tag.name }}</a>
                    </button>
                </div>


                <!-- Lista pytan-->
                <hr class="divider">
                <div class="row " style="height: 250px;"
                     ng-repeat="question in questions | orderBy: '-(likes-dislikes)'">
                    <div class=" col-md-2 col-sm-3 text-center" style="margin-right: 25px;">


                        <style type="text/css">

                            .parent {
                                width: 100px;
                                height: 100px;

                            }

                            .child {
                                position: relative;
                                width: 100px;
                                height: 100px;
                                bottom: 180px;
                                left: 10px;

                            }
                        </style>


                        <div class="wrapper">
                            <div class="parent"><a class="story-title" href="#"><img alt="avatar"
                                                                                     src="http://lorempixel.com/{{900+question.id}}/900/cats/"
                                                                                     style="width:100px;height:100px"
                                                                                     class="img-rounded">
                            </a>
                                <a class="hvr-grow-rotate child story-title" href="#"><img alt="avatar"
                                                                                           src="css/images/hats/{{question.id}}.png"
                                                                                           style="width:100px;height:100px"
                                                                                           class="img-rounded">
                                </a>
                            </div>
                        </div>



                        <span class="btn hvr-grow" style="font-size: 25px;" ng-class="{'label label-as-badge label-lg': 1,
                            'label-danger label-lg': question.likes<question.dislikes,
                            'label-success label-lg': question.likes>question.dislikes,
                            'label-default label-lg': question.likes==question.dislikes
                                            }">
                            {{ question.likes - question.dislikes }}
                        </span>

                        <div class="btn-group">
                            <a href="" role="button" class="hvr-grow btn btn-link"><h4
                                    class="glyphicon glyphicon-thumbs-up"
                                    style="color: #006600;"></h4></a>
                            <a href="" role="button" class="hvr-grow btn btn-link"><h4
                                    class="glyphicon glyphicon-thumbs-down"
                                    style="color: #b92c28;"></h4></a>
                        </div>
                    </div>
                    <div class="blank-white-div hvr-grow-shadow col-md-9 col-sm-9"
                         style="padding: 5px;">
                        <span class="  question-title big-font" st><a ng-href="#/Question/{{question.id}}">{{
                            question.title
                            }}</a></span>
                        <small> {{question.views}}</small>
                        <small class="glyphicon glyphicon-eye-open"></small>

                        <div class="row">
                            <div class="col-xs-9">
                                <h4>
                                    <span class="label label-default" style="margin: 2px;"
                                          ng-repeat="tag in question.tag_names">#{{tag}}</span>
                                </h4>
                                <h4>

                                    <small class="glyphicon glyphicon-share-alt badge "> odpowiedzi:
                                        {{question.answers.length}}
                                    </small>
                                    <small class="badge bad"> komentarze: {{question.comments.length}}</small>
                                    <small class="badge glyphicon glyphicon-star"> ulubione: {{question.favorites}}
                                    </small>


                                </h4>
                            </div>
                            <div class="col-xs-3"></div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Powiadomienia kiedy ktos odpisze doda komentarz itp-->
            <div class="animated zoomInDown col-sm-4">

                <h3 class="hipster-font"><span class="glyphicon glyphicon-pencil"></span> Moja aktywność</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>

                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>

        </div>
    </div>

</div>

<!--</div>-->

