<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
      <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
      -->

    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href="css/hover.css" rel="stylesheet" media="all">
    <link href="css/hover-min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/app.css">
     <link rel="stylesheet" href="css/animations.css">
    <link rel="stylesheet" href="css/animate.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--   <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script> -->
</head>
<body>


<!--     NAVBAR          -->

<nav id="top" class="navbar navbar-static-top" style="font-size: 22px;">
    <div class="hipster-font container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" ng-href="#Questions">StackPortal</a>-->
        </div>
        <div id="navbar" class="collapse navbar-collapse" style="font-size: 50px;">
            <ul class="nav navbar-nav" style="width: 1800px;">
                <a class="" style="color: white"><a ng-href="#Questions">Home</a></a>
                <span style="width: 500px;"></span>

                <div style="float: left;font-family: 'PT Sans', sans-serif" ng-controller="AuthCtrl">

                    <li class="dropdown" style="float: right;left: 650px">

                        <div style="float: right;left: 650px; font-size:22px" ng-show="loggedUser != null">Zalogowano
                            jako: {{ loggedUser }}
                            <button class=" btn btn-default" ng-click="logout()">Wyloguj</button>
                        </div>
                    </li>

                    <li class="dropdown" id="menuLogin" style="float: right;left: 650px" ng-show="loggedUser == null">
                        <button class="dropdown-toggle btn btn-default" href="#questions" data-toggle="dropdown" id="navLogin">Logowanie</button>

                        <div id="login_view" class="dropdown-menu well-lg">
                            <form class="form-signin" role="form" ng-submit="login()" name="loginForm" novalidate>
                                <div class="form-group">
                                    <label for="id_username">Username</label>
                                    <input name="username" id="id_username" type="text" ng-model="model.username"
                                           placeholder="Username" class="form-control" required/>
                                </div>
                                <div class="alert alert-danger" ng-repeat="error in errors.username">{{ error }}</div>
                                <div class="form-group">
                                    <label for="id_password">Password</label>
                                    <input name="password" id="id_password" type="password" ng-model="model.password"
                                           placeholder="Password" class="form-control" required/>
                                </div>
                                <div class="alert alert-danger" ng-repeat="error in errors.password">{{ error }}</div>
                                <div class="alert alert-danger"
                                     ng-repeat="error in errors.non_field_errors">{{ error }}</div>
                                <div class="alert alert-danger" ng-if="error">{{ error }}</div>
                                <button type="submit" class="btn btn-primary">Login</button>
                            </form>
                        </div>
                    </li>

                    <li class="dropdown" id="menuLogin" style="float: right;left: 850px" ng-show="loggedUser == null">
                        <button class="dropdown-toggle btn btn-default" href="#questions" data-toggle="dropdown"
                           id="navLogin">Rejestracja</button>

                        <div id="register_view" class="dropdown-menu well-lg">
                            <form class="form-register" role="form" ng-submit="register()" name="loginForm" novalidate>
                                <div class="form-group">
                                    <label for="id_username">Username</label>
                                    <input name="username" id="id_username" type="text" ng-model="Rmodel.username"
                                           placeholder="Nazwa użytkownika"
                                           class="form-control" required/>
                                </div>
                                <div class="alert alert-danger" ng-repeat="error in Rerrors.username">{{ error }}</div>
                                <div class="form-group">
                                    <label for="id_password">Email</label>
                                    <input name="email" id="id_email" type="email" ng-model="Rmodel.Email"
                                           placeholder="Email"
                                           class="form-control" required/>
                                </div>
                                <div class="alert alert-danger" ng-repeat="error in Rerrors.email">{{ error }}</div>
                                <div class="form-group">
                                    <label for="id_password">Hasło</label>
                                    <input name="password" id="id_password" type="password" ng-model="Rmodel.password"
                                           placeholder="Hasło"
                                           class="form-control" required/>
                                </div>
                                <div class="form-group">
                                    <label for="id_password2">Powtórz hasło</label>
                                    <input name="password2" id="id_password2" type="password" ng-model="Rmodel.password2"
                                           placeholder="Powtórz hasło"
                                           class="form-control" required/>
                                </div>
                                <div class="alert alert-danger" ng-repeat="error in Rerrors.password">{{ error }}</div>
                                <div class="alert alert-danger"
                                     ng-repeat="error in Rerrors.non_field_errors">{{ error }}</div>
                                <div class="alert alert-danger" ng-if="error">{{ error }}</div>
                                <button type="submit" class="btn btn-primary">Utwórz konto</button>
                            </form>
                        </div>

                    </li>
                </div>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<!--     BUBBLES          -->
<div id="background-wrap">
    <div class="bubble x1"></div>
    <div class="bubble x2"></div>
    <div class="bubble x3"></div>
    <div class="bubble x4"></div>
    <div class="bubble x5"></div>
    <div class="bubble x6"></div>
    <div class="bubble x7"></div>
    <div class="bubble x8"></div>
    <div class="bubble x9"></div>
    <div class="bubble x10"></div>
</div>


<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<!--     CONTENT          -->
<div ng-view></div>

<!--     FOOTER           -->
<div id="footer" style="color: white;font-style: italic">
    <div class="container">
        <p class="text-muted credit">
            <br/><br/>

        <div class="row">
            <div class="col-md 8 col-sm-8">
                Portal stworzony na zalicznie projektu zespołowego
                <br/>
                Wykonay przez:
                <li>Rafał Boguski</li>
                <li>Rafał Basiak</li>
                <li>Daniel Fąderski</li>
                <li>Bartłomiej Bęczkowski</li>
                <li>Norbert Grzyb</li>
                <li>Jan Eliasz</li>
                <br/>
                2015r. Politechnika Warszawska wydział Elektryczny
                </br>
            </div>


            <div class="col-md 4 col-sm-4">
                <li><a style="color: white;" href="https://trello.com/b/TYp3BlU6/stackportal">Trello specyfikacja
                    projektu</a></li>
                <li><a style="color: white;" href="https://github.com/faderskd/stackportal">GitHub kod źródłowy</a></li>
                <li><a style="color: white;" href="http://188.166.59.78/api/">API</a></li>
            </div>
        </div>
        </p>
    </div>
</div>


<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
<script src="app.js"></script>
<script src="Questions/Questions.js"></script>
<script src="Question/Question.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
</body>
</html>
