<div id='logo-div' class="container" style=" color: white;">
    <div class="row">
        <div class="animated flipInX col-md-9">

            <h1 class=" hipster-font">Ocean Wiedzy</h1>


        </div>


        <div class="col-md-3">
            <!--<img class="" src="images/title.png" style="width: 500px"></div>-->
            <img class="hvr-grow scaling" src="css/images/lightbulb.png" style="height: 100px">
            <!--<img class="hvr-buzz floating" src="css/images/fish.png" style="height: 100px;margin-bottom:20px;">-->
        </div>
    </div>

</div>


</div>


<div class="blank-white-div">
    <div class="animated zoomIn container" style="background-color: #dddddd;padding:30px;border-radius: 15px">

        <div class="blank-white-div row " style="margin-top:15px;margin-bottom: 100px;min-height: 250px;">
            <div class=" col-md-2 col-sm-3 text-center" style="margin-right: 25px;">

                <div class="wrapper">
                    <div class="parent"><a class="story-title" href="#"><img alt="avatar"
                                                                             src="http://lorempixel.com/
                                                                                     {{ 900+question.id}}/900/cats/"
                                                                             style="width:100px;height:100px"
                                                                             class="img-rounded">
                    </a>
                        <a class="hvr-grow-rotate child story-title" href="#"><img alt="avatar"
                                                                                   src="css/images/hats/{{ question.id }}.png"
                                                                                   style="width:100px;height:100px"
                                                                                   class="img-rounded">
                        </a>
                    </div>
                </div>

                <span class="btn hvr-grow" style="font-size: 25px;" ng-class="{'label label-as-badge label-lg': 1,
                            'label-danger label-lg': question.likes<question.dislikes,
                            'label-success label-lg': question.likes>question.dislikes,
                            'label-default label-lg': question.likes==question.dislikes
                                            }">
                            {{ question.likes - question.dislikes }}
                </span>

                <div class="btn-group">
                    <a href="" role="button" class="hvr-grow btn btn-link" ng-click="likeQ()"><h4
                            class="glyphicon glyphicon-thumbs-up"
                            style="color: #006600;"></h4></a>
                    <a href="" role="button" class="hvr-grow btn btn-link" ng-click="dislikeQ()"><h4
                            class="glyphicon glyphicon-thumbs-down"
                            style="color: #b92c28;"></h4></a>
                </div>
            </div>
            <div class=" col-md-9 col-sm-9"
                 style="padding: 4px;">
                <h1>{{ question.title }}
                </h1>

                <p>{{ question.content }}
                </p>
                <small> {{ question.views }}</small>
                <small class="glyphicon glyphicon-eye-open"></small>

                <div class="row">
                    <div class="col-xs-9">
                        <h4><span class="label label-default" style="margin: 2px;"
                                  ng-repeat="tag in question.tag_names">#{{ tag }}</span>
                        </h4>
                        <h4>

                            <small class="glyphicon glyphicon-share-alt badge "> odpowiedzi:
                                {{ question.answers.length }}
                            </small>
                            <small class="badge bad"> komentarze: {{ question.comments.length }}</small>
                            <small class="badge glyphicon glyphicon-star"> ulubione: {{ question.favorites }}
                            </small>


                        </h4>
                    </div>
                    <div class="col-xs-3"></div>
                </div>
            </div>
        </div>


        <!-- Lista Odpowiedzi-->

        <div class="blank-white-div  row " style="margin-bottom: 20px;min-height: 250px;"
             ng-repeat="answer in answers | orderBy: '-(likes-dislikes)'">
            <div class=" col-md-2 col-sm-3 text-center" style="">


                <div class="wrapper">
                    <div class="parent"><a class="story-title" href="#"><img alt="avatar"
                                                                             src="http://lorempixel.com/
                                                                                     {{ 900+question.id}}/900/cats/"
                                                                             style="width:100px;height:100px"
                                                                             class="img-rounded">
                    </a>
                        <a class="hvr-grow-rotate child story-title" href="#"><img alt="avatar"
                                                                                   src="css/images/hats/{{ answer.id }}.png"
                                                                                   style="width:100px;height:100px"
                                                                                   class="img-rounded">
                        </a>
                    </div>
                </div>


                <span class="btn hvr-grow" style="font-size: 35px;" ng-class="{'label label-as-badge label-lg': 1,
                           'label-danger label-lg': answer.likes<answer.dislikes,
                           'label-success label-lg': answer.likes>answer.dislikes,
                           'label-default label-lg': answer.likes==answer.dislikes
                                           }">
                    {{ answer.likes - answer.dislikes }}
                </span>

                <div class="btn-group">
                    <a href="" role="button" class="hvr-grow btn btn-link" ng-click="likeA(answer.id)"><h4
                            class="glyphicon glyphicon-thumbs-up"
                            style="color: #006600;"></h4></a>
                    <a href="" role="button" class="hvr-grow btn btn-link" ng-click="dislikeA(answer.id)"><h4
                            class="glyphicon glyphicon-thumbs-down"
                            style="color: #b92c28;"></h4></a>
                </div>
            </div>

            <div class=" col-md-9 col-sm-9" style="padding: 35px;">
                <span ng-href="#/answers/{{ answer.id }}">
                    {{ answer.content }}
                </span>
            </div>
            <div class="well well-sm" style="float: right; width: 70%"
                 ng-repeat="comment in answer.comments | orderBy:'set_date'">
                {{ comment.content }}
            </div>

        </div>

    </div>
    <div class="blank-white-div  row ">
        <div class="col-xs-5 col-xs-offset-4">
            <form class="form-horizontal" role="form" ng-submit="Send()" name="answerForm" novalidate>
                <div class="form-group">
                    <label for="answer">Dodaj odpowiedź</label>
                <textarea ng-model="formAnswer" class="form-control" rows="5" id="answer" required
                          ng-minlength="10"></textarea>
                </div>
                <div class="alert alert-danger" ng-repeat="error in errors">{{ error }}</div>
                <div class="alert alert-danger" ng-if="error">{{ error }}</div>
                <button type="submit" class="btn btn-primary">Dodaj</button>
            </form>
        </div>
    </div>
</div>>

